@charset "UTF-8";

body{
    background-color: rgb(170, 170, 170);
}
h1{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    text-align: center;
}
h1#principal{
    text-align: center;
    background-color: white;
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.um{
    background-color: red;
}
.dois{
    background-color: blue;
}
.tres{
    background-color: aqua;
}
.destaque{
    color: white;
    font-weight: bold;
}